@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    /* background-image: url(https://cdn.wallpapersafari.com/51/33/F4XEI5.jpg); */
    background-size: cover;
}


/* EXTRAS */
.safe-extras-cnt {
    position: absolute;
    top: 25%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.safe-extras-cnt .tlt {
    padding: 10px 50px 10px 15px;
    background: rgb(100, 0, 0);
    text-align: left;
    margin-bottom: 15px;
}

.safe-extras-cnt .tlt .sub { 
    color: #fff;
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
}

.safe-extras-cnt .tlt .dstq {
    color: rgb( 240, 248, 255, 1 );
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    line-height: 15px;
}

.safe-extras-cnt .extras-cnt {
    height: 500px;
    overflow-y: auto;
}

.safe-extras-cnt .extras-cnt .single-extras {
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    max-width: 60px;
    text-align: center;
    background: #640000;
    margin-bottom: 10px;
    cursor: pointer;
    transition: ease-in-out .5s;
}

.safe-extras-cnt .extras-cnt .selected-extras {
    max-width: 100%;
    background: #000000;
    color: rgba(253, 253, 253, 0.801);
    transition: ease-in-out .5s;
}
 

/* LIVERIES */
.safe-livery-cnt {
    position: absolute;
    top: 25%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.safe-livery-cnt .tlt {
    padding: 10px 50px 10px 15px;
    background: rgb(0, 27, 100);
    text-align: left;
    margin-bottom: 15px;
}

.safe-livery-cnt .tlt .sub { 
    color: #fff;
    font-weight: 600;
    font-style: italic;
    font-size: 15px;
}

.safe-livery-cnt .tlt .dstq {
    color: rgb( 240, 248, 255, 1 );
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    line-height: 15px;
}

.safe-livery-cnt .livery-cnt {
    height: 500px;
    overflow-y: auto;
}

.safe-livery-cnt .livery-cnt .single-livery {
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    max-width: 60px;
    text-align: center;
    background: #070064;
    margin-bottom: 10px;
    cursor: pointer;
    transition: ease-in-out .5s;
}

.safe-livery-cnt .livery-cnt .selected-livery {
    max-width: 100%;
    background: #000000;
    color: rgba(253, 253, 253, 0.801);
}
 
::-webkit-scrollbar {
    display: none;
}